extends ../layout/base 
block content 
	section.content-header 
		h1 
			| Tambah Daftar Obat
	section.content
		.box
			.box-header.with-border
				h3.box-title
					| Obat
				.box-tools.pull-right
					button(type='button', data-widget='collapse', data-toggle='tooltip',title='collapse').btn.btn-box-tool
						i.fa.fa-minus
					
			.box-body
				form(role='form', method='post', action='/obat/add', enctype='multipart/form-data')
					.row
						
						.col-xs-6
							.box-body
								- if (messages.msg_error) 
									.alert.alert-danger.alert-dismissable 
										button.close(type='button', data-dismiss='alert', aria-hidden='true') 
											| ×
										h4
											i.icon.fa.fa-ban
											| Alert! 
										| !{messages.msg_error}
								.form-group
									label
										| Nama
									input(type='text',value='#{name}',name='name',placeholder='Masukkan Nama', autofocus).form-control
								.form-group
									label
										| Kadaluwarsa
									input(type='date',name='kadaluwarsa').form-control
								.form-group
									label
										| Stok
									input(type='text',value='#{stok}',name='stok',placeholder='Masukkan Jumlah Stok').form-control
								.form-group
									label
										| Gambar
									input(type="file", name="gambar", placeholder="Masukkan Gambar").form-control
							.box-footer
								button(type='submit').btn.btn-primary
									| Submit
								a(href='/obat').btn.btn-info.pull-right
									| Back